# Asignación de responsables por grupo

# Grupo 1: Jardín
/database/modules/Grupo1-Jardin/ @majomar2010

# Grupo 2: Jardín Privado
/database/modules/Grupo2-JardinPrivado/ @camila2415

# Grupo 4: Bachiller
/database/modules/Grupo4-Bachiller/ kiara.falcon.359@alu.tecnica29de6.edu.ar